In [37]:
#desliga a notacao cientifica
options=(scipen=999)

In [42]:
library(AER)
library(jtools)

Loading required package: car

Loading required package: carData

Loading required package: lmtest

Loading required package: zoo


Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Loading required package: sandwich

Loading required package: survival

In [43]:
#lendo os dados
df <- read.csv("https://raw.githubusercontent.com/FelipeMMMendes/TrabalhoOCD/main/data/Dados_Poisson.csv")

In [44]:
head(df)

  Ppcode Age Sex Love_music Gigs
1 368    22  0   3.5        6
2  42    18  0   1.0        2
3 509    47  0   1.3        3
4  43    20  0   3.7        8
5 352    19  0   1.9        9
6  74    24  0   1.8        1

In [45]:
#Normalizando a coluna Sex, colocando 0 como male e 1 como female
df$Sex <- ifelse(df$Sex == 0, "male", "female")

In [46]:
head(df)

  Ppcode Age Sex  Love_music Gigs
1 368    22  male 3.5        6
2  42    18  male 1.0        2
3 509    47  male 1.3        3
4  43    20  male 3.7        8
5 352    19  male 1.9        9
6  74    24  male 1.8        1

In [47]:
#modelando o glm
model1 <- glm(Gigs~ Sex + Age + Love_music, data = df, family = poisson(link="log"))

In [48]:
summary(model1)

Call:
glm(formula = Gigs ~ Sex + Age + Love_music, family = poisson(link = "log"),
    data = df)

Coefficients:
             Estimate Std. Error z value Pr(>|z|)
(Intercept)  0.983883   0.125455   7.842 4.42e-15 ***
Sexmale     -0.034883   0.055885  -0.624   0.5325
Age          0.004715   0.002464   1.914   0.0556 .
Love_music   0.194827   0.031946   6.099 1.07e-09 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for poisson family taken to be 1)

    Null deviance: 322.94  on 256  degrees of freedom
Residual deviance: 277.58  on 253  degrees of freedom
AIC: 1144.1

Number of Fisher Scoring iterations: 4